#
# Unless explicitly stated otherwise all files in this repository are licensed under the Apache License Version 2.0.
# This product includes software developed at Datadog (https://www.datadoghq.com/).
# Copyright 2023-Present Datadog, Inc.
#
[*]
insert_final_newline = true

[*.cs]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.json]
indent_style = space
indent_size = 2